<div class="container">
    <br><br><br><br>
    <div class="row">
        <div class="col-lg-12">
          <div class="alert alert-info text-center">
                <b>我的意愿值：<%=current_user.points%></b>
                <br><br>
                <% if @flag==0%>
                    没有该用户，请检查输入邮箱是否正确
                    <%else%>
                    <% if @flag==2%>
                    要转增的意愿值超过已有意愿值！
                    <%else%>
                    转赠成功！<br>
                    <b>我的意愿值：<%=current_user.points%></b>
                    <%end%>
                    <%end%>
            </div>
        </div>
    </div>
</div>